.f1Box{
    border: 2px solid black;
	width: 30vw;
	padding: 1vw;
}

.f23Box{
    border: 2px solid black;
	width: 20vw;
	padding: 1vw;
}

sup{
    color: red;
}

.opis{
    background-color:white;
	top:-1.5vw;
	position:relative;
	display:inline;
}
table {
	border-collapse:collapse;
}

td {
	border: 1px solid black;
}